<!--@doc
# @category organism
# @name uc-header
# @desc grid system and clearfix
-->

<!--@template -->
<header class="uc-header _of-black">
<div class="uc-header-logo"><a href="/">Horic Design</a></div>
<div class="uc-menu" role="navigation">
    <a href="#">About</a>
    <a href="#">Portfolio</a>
    <a href="#">GitHub</a>
</div>
</header>
<!--@/template -->
<!--@preview
<uc-header />
-->