<!--@doc
# @category organism
# @name uc-header
# @desc a common site header
-->

<!--@template tilte="Blog" -->
<header class="uc-header _black">
<div class="uc-header-logo"><a href="/"><%= title %></a></div>
<div class="uc-header-menu _small-hidden" role="navigation">
    <a href="#">About</a>
    <a href="#">Portfolio</a>
    <a href="#">GitHub</a>
</div>
<div class="uc-menu-btn _medium-hidden _large-hidden"><button><i class="uc-menu-btn-icon"></i></button></div>
</header>
<!--@/template -->

<!--@preview
<uc-header title="Horic Design" />
-->