<footer class="uc-footer _dark">
<div class="uc-footer-menu">
    <a href="<%= blog_url %>/">About</a>
    <a href="<%= blog_url %>/docs/">Docs</a>
    <a href="<%= blog_url %>/demo.html" target="_blank">Demo</a>
    <a href="https://github.com/steelydylan/atomic-lab" target="_blank">GitHub</a>
</div>
<div class="uc-footer-logo"><cite>Atomic Lab</cite></div>
<p>This page was made using <a href="http://unitscss.com" target="_blank">UNITS</a>.</p>
<small>© 2017 Atomic Lab</small>
</footer>