<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Atomic Lab - component guide generator based on partial templates</title>
  <meta name="author" content="steelaxe (steelydylan and okajax)">
  <meta name="description" content="Component Guide Generator Based on Atomic Design">
  <meta name="version" content="1.0.0">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://steelydylan.github.io/atomic-lab/" />
  <meta property="og:title" content="AtomicLab" />
  <meta property="og:description" content="Component Guide Generator Based on Atomic Design" />
  <meta property="og:image" content="https://steelydylan.github.io/atomic-lab/images/ogp.png" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@steelydylan">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400:500" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/unitscss@0.1.4/dist/units.min.css">
  <link rel="stylesheet" href="<%= blog_url %>css/style.css">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css" rel="stylesheet">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
</head>