@charset "UTF-8";
html,
body {
  min-width: 1040px;
  height: 100%;
  color: #454545;
  position: relative; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.atomicLabHeader {
  box-shadow: none; }
  .atomicLabHeader-row {
    padding-left: 40px; }
  .atomicLabHeader-gitHubMark {
    width: 34px; }

.atomicLabContent {
  height: 100%;
  display: flex; }

.mdl-dialog {
  width: 600px; }

.atomicLabSideMenu {
  box-sizing: border-box;
  width: 310px;
  flex-grow: 0;
  height: 100%;
  border-right: 1px solid #D7D7D7;
  background: #fff; }

.atomicLabProjectControl {
  border-bottom: 1px solid #D7D7D7;
  padding: 20px 20px 0 20px; }
  .atomicLabProjectControl-title {
    font-size: 20px;
    vertical-align: middle;
    color: #009688;
    position: relative;
    cursor: pointer;
    margin: 0 0 15px 0; }
    .atomicLabProjectControl-title i {
      vertical-align: bottom; }
    .atomicLabProjectControl-title .atomicLabProjectControl-arrow {
      position: absolute;
      right: 5px; }
  .atomicLabProjectControl-shotDescription {
    line-height: 1.5em;
    color: #848484; }
  .atomicLabProjectControl-actions {
    color: #848484;
    margin: 20px 0 10px 0; }
    .atomicLabProjectControl-actions > ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around; }
    .atomicLabProjectControl-actions > ul > li {
      margin: 0;
      display: flex;
      cursor: pointer; }
      .atomicLabProjectControl-actions > ul > li i {
        padding: 10px; }
        .atomicLabProjectControl-actions > ul > li i:hover {
          color: #454545; }

.atomicLabComponentList {
  height: -webkit-calc(100vh - 300px);
  height: calc(100vh - 300px);
  overflow: auto; }
  .atomicLabComponentList ul, .atomicLabComponentList li {
    display: block;
    margin: 0;
    padding: 0; }
  .atomicLabComponentList-category {
    margin: 0;
    font-size: 17px; }
    .atomicLabComponentList-category > span {
      display: block;
      padding: 15px 25px;
      position: relative;
      cursor: pointer; }
      .atomicLabComponentList-category > span i {
        opacity: 0;
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        color: #848484; }
      .atomicLabComponentList-category > span:hover i {
        opacity: 1; }
    .atomicLabComponentList-category-icon {
      width: 32px;
      margin-right: 10px; }
    .atomicLabComponentList-category > ul {
      transition: 0.2s;
      overflow: hidden; }
    .atomicLabComponentList-category.js-closed {
      opacity: 0.6; }
      .atomicLabComponentList-category.js-closed > ul {
        transition: 0.2s; }
  .atomicLabComponentList-item {
    color: #848484;
    cursor: pointer;
    transition: 0.1s; }
    .atomicLabComponentList-item:hover, .atomicLabComponentList-item.selected {
      background-color: #E2E2E2;
      color: #454545;
      transition: 0.1s; }
    .atomicLabComponentList-item > span {
      display: block;
      padding: 15px 20px 15px 50px; }
      .atomicLabComponentList-item > span i {
        font-size: 20px;
        vertical-align: middle;
        margin-right: 10px; }
  .atomicLabComponentList-item-subAction {
    display: none;
    float: right;
    line-height: 24px; }

.atomicLabComponentList-item:hover .atomicLabComponentList-item-subAction {
  display: inline-block; }

.atomicLabSearchBox {
  box-sizing: border-box;
  height: 40px;
  width: 310px;
  padding: 10px 20px;
  border-top: 1px solid #D7D7D7; }
  .atomicLabSearchBox-expandContent {
    display: none; }
  .atomicLabSearchBox-title {
    font-size: 17px;
    display: inline-block;
    margin-bottom: 10px; }
  .atomicLabSearchBox-main {
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    background-color: #F2F2F2;
    box-sizing: border-box;
    padding: 0 15px; }
    .atomicLabSearchBox-main i {
      vertical-align: middle;
      color: #848484; }
  .atomicLabSearchBox-input {
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent; }
  .atomicLabSearchBox-checkbox {
    margin-bottom: 10px;
    cursor: pointer;
    color: #848484; }
  .atomicLabSearchBox.is-open .atomicLabSearchBox-expandContent {
    display: block;
    padding: 20px;
    height: 0;
    opacity: 0;
    border-bottom: 1px solid #D7D7D7; }
  .atomicLabSearchBox.is-open .atomicLabSearchBox-floatingCard {
    background-color: #fff;
    border-radius: 3px;
    width: 270px;
    position: absolute;
    z-index: 9000;
    bottom: 9px;
    left: 20px;
    box-shadow: 0px 0px 4px 1px #a0a0a0;
    -moz-box-shadow: 0px 0px 4px 1px #a0a0a0;
    -webkit-box-shadow: 0px 0px 4px 1px #a0a0a0; }
  .atomicLabSearchBox.is-open .atomicLabSearchBox-main {
    background-color: #fff;
    border-radius: 0; }

.AtomicLabFAB {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 900;
  width: 56px;
  height: 270px; }
  .AtomicLabFAB-main {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s; }
  .AtomicLabFAB-subActionsList {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 7px; }
    .AtomicLabFAB-subActionsList li {
      display: block;
      margin: 10px 0;
      transition: 0.3s;
      transform: scale(0) translateY(200px);
      opacity: 0; }
  .AtomicLabFAB-miniFAB {
    background-color: #D8D8D8 !important;
    transition: 0.2s; }
    .AtomicLabFAB-miniFAB img {
      margin-top: 2px;
      width: 40px; }
    .AtomicLabFAB-miniFAB:hover {
      transform: scale(1.15);
      transition: 0.1s; }

.atomicLabMain {
  box-sizing: border-box;
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  background-color: #F6F6F6;
  position: relative; }

.atomicLabComponentControl {
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 200px;
  flex-grow: 0;
  padding: 25px 40px 0 40px; }
  .atomicLabComponentControl-icon {
    float: left;
    width: 100px; }
    .atomicLabComponentControl-icon img {
      width: 100%; }
  .atomicLabComponentControl-texts {
    float: left;
    padding-left: 25px; }
  .atomicLabComponentControl-title {
    font-size: 25px;
    margin: 20px 0 10px 0; }
  .atomicLabComponentControl-description {
    font-size: 17px;
    color: #848484; }
  .atomicLabComponentControl .atomicLabTabs-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
  .atomicLabComponentControl .atomicLabTabs-tab:after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0px;
    left: 0px;
    position: absolute;
    background: #FFFFFF;
    animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
    transition: all 1s cubic-bezier(0.4, 0, 1, 1); }
  .atomicLabComponentControl .atomicLabTabs-tab {
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer; }
  .atomicLabComponentControl .atomicLabTabs-tab.is-actßive {
    color: rgba(0, 0, 0, 0.87); }

.atomicLabTabs {
  position: relative; }
  .atomicLabTabs .is-active:after {
    height: 3px !important;
    background: #009688 !important; }
  .atomicLabTabs-tab {
    flex-grow: 1; }

.atomicLabComponentControl-actions {
  position: absolute;
  right: 50px;
  top: 25px;
  color: #848484; }
  .atomicLabComponentControl-actions ul, .atomicLabComponentControl-actions li {
    margin: 0;
    padding: 0;
    display: inline-block; }
  .atomicLabComponentControl-actions i {
    padding: 5px;
    cursor: pointer; }
    .atomicLabComponentControl-actions i:hover {
      color: #454545; }

.atomicLabTabs-panel {
  height: 450px; }
  .atomicLabTabs-panel-editArea {
    font-size: 20px;
    width: 100%;
    height: 100%;
    border-radius: 5px; }

.atomicLabProjectsDialog {
  width: 750px; }
  .atomicLabProjectsDialog-title {
    padding: 15px 24px 0;
    margin: 0;
    font-size: 24px;
    color: #009688; }
  .atomicLabProjectsDialog-addProjectForm {
    margin: 10px 0 50px 0; }
  .atomicLabProjectsDialog-heading {
    display: block;
    margin-bottom: 10px;
    font-size: 17px;
    color: #454545; }
  .atomicLabProjectsDialog-input {
    display: inline-block;
    width: 500px;
    font-size: 19px;
    vertical-align: bottom;
    margin-right: 10px; }
  .atomicLabProjectsDialog-table {
    width: 100%;
    border-collapse: collapse; }
    .atomicLabProjectsDialog-table th {
      text-align: left;
      border-bottom: 1px solid #979797;
      padding: 5px 0; }
    .atomicLabProjectsDialog-table td {
      padding: 10px 0;
      vertical-align: middle; }
    .atomicLabProjectsDialog-table i {
      color: #848484; }
  .atomicLabProjectsDialog-icon {
    width: 5%;
    text-align: center;
    color: #848484; }
  .atomicLabProjectsDialog-name {
    width: 35%; }
  .atomicLabProjectsDialog-url {
    width: 30%; }
  .atomicLabProjectsDialog-share {
    width: 25%; }
  .atomicLabProjectsDialog-delete {
    display: none; }
  .atomicLabProjectsDialog-shareIcon {
    width: 22px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer; }
    .atomicLabProjectsDialog-shareIcon img {
      width: 100%; }
  .atomicLabProjectsDialog-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer; }
  .atomicLabProjectsDialog-delete, .atomicLabProjectsDialog-shareIcon {
    cursor: pointer; }
    .atomicLabProjectsDialog-delete:hover, .atomicLabProjectsDialog-shareIcon:hover {
      color: #454545; }
  .atomicLabProjectsDialog-projectsContainer {
    height: 180px;
    border-bottom: 1px solid #979797;
    overflow: auto; }
    .atomicLabProjectsDialog-projectsContainer tr:hover {
      background-color: #e2e2e2; }
      .atomicLabProjectsDialog-projectsContainer tr:hover .atomicLabProjectsDialog-delete {
        display: inline-block; }

.ace_editor {
  height: 100%;
  margin-top: 0; }

#mask-search-cancel {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 8000;
  display: none; }

.sourceCopied {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 10px;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
  text-align: center;
  color: #fff;
  background-color: transparent; }

.sourceCopied.active {
  background-color: rgba(0, 0, 0, 0.9); }

.atomicLabCard {
  width: 95%;
  margin: 25px auto;
  padding: 20px; }
  .atomicLabCard h1 {
    font-size: 40px; }
  .atomicLabCard h2 {
    font-size: 38px; }
  .atomicLabCard-title {
    font-size: 24px;
    margin: 5px 0 20px 0;
    color: #848484; }
    .atomicLabCard-title > i {
      vertical-align: bottom; }

.mdl-dialog__title {
  padding: 15px 24px 0;
  margin: 0;
  font-size: 24px;
  color: #009688; }

.material-icons._danger:hover {
  color: #ed3838; }

@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: block; } }
