html,
body {
  min-width: 1040px;
  height: 100%;
  color: #454545;
  position: relative; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.atomicLabHeader {
  box-shadow: none; }
  .atomicLabHeader-row {
    padding-left: 40px; }
  .atomicLabHeader-gitHubMark {
    width: 34px; }

.mdl-layout__content {
  height: 100%; }

.atomicLabSideMenu {
  box-sizing: border-box;
  width: 25%;
  float: left;
  height: 100%;
  border-right: 1px solid #D7D7D7;
  background: #fff; }

.atomicLabProjectControl {
  border-bottom: 1px solid #D7D7D7;
  padding: 20px 20px 0 20px; }
  .atomicLabProjectControl-title {
    font-size: 20px;
    vertical-align: middle;
    color: #009688;
    position: relative;
    cursor: pointer;
    margin: 0 0 15px 0; }
    .atomicLabProjectControl-title i {
      vertical-align: bottom; }
    .atomicLabProjectControl-title .atomicLabProjectControl-arrow {
      position: absolute;
      right: 5px; }
  .atomicLabProjectControl-shotDescription {
    line-height: 1.5em;
    color: #848484; }
  .atomicLabProjectControl-actions {
    color: #848484;
    margin: 20px 0 10px 0; }
    .atomicLabProjectControl-actions ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around; }
    .atomicLabProjectControl-actions li {
      margin: 0;
      display: flex;
      cursor: pointer; }
      .atomicLabProjectControl-actions li i {
        padding: 10px; }
        .atomicLabProjectControl-actions li i:hover {
          color: #454545; }

.atomicLabComponentList ul, .atomicLabComponentList li {
  display: block;
  margin: 0;
  padding: 0; }

.atomicLabComponentList-category {
  margin: 0;
  border-bottom: 1px solid #efefef;
  font-size: 17px; }
  .atomicLabComponentList-category > span {
    display: block;
    padding: 15px 25px; }
  .atomicLabComponentList-category-icon {
    width: 32px;
    margin-right: 10px; }

.atomicLabComponentList-item {
  color: #848484;
  cursor: pointer; }
  .atomicLabComponentList-item:hover {
    background-color: #E2E2E2;
    color: #454545; }
  .atomicLabComponentList-item > span {
    display: block;
    padding: 15px 20px 15px 50px; }
    .atomicLabComponentList-item > span i {
      font-size: 20px;
      vertical-align: middle;
      margin-right: 5px; }

.AtomicLabFAB {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 56px;
  height: 270px; }
  .AtomicLabFAB-main {
    position: absolute;
    bottom: 0;
    left: 0; }
  .AtomicLabFAB-subActionsList {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 7px; }
    .AtomicLabFAB-subActionsList li {
      display: block;
      margin: 10px 0;
      padding: 0; }

.atomicLabMain {
  box-sizing: border-box;
  width: 75%;
  float: left;
  height: 100%;
  background-color: #F6F6F6; }

.atomicLabComponentContorl {
  position: relative;
  background-color: #fff;
  height: 200px; }
  .atomicLabComponentContorl .atomicLabTabs-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }

.atomicLabTabs .is-active:after {
  height: 3px !important;
  background: #009688 !important; }

.atomicLabTabs-tab {
  flex-grow: 1; }

@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: block; } }
