html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

.mdl-dialog--wide {
	width: auto;
	max-width: 600px;
}

.mdl-dialog__title {
	font-size: 1.5em;
	color: #888;
}

.mdl-radio {
	margin-right: 20px;
}

.mdl-layout {
	height: 100vh;
}

.mdl-layout__drawer {
	width: 350px;
}

.mdl-layout--fixed-drawer > .mdl-layout__content {
	margin-left: 350px;
	padding: 10px;
}

.mdl-layout__tab-bar {
	width: 100%;
	height: auto;
}

.mdl-layout__tab {
	cursor: pointer;
}

.mdl-data-table {
	width: 100%;
}

.mdl-data-table__name {
	width: 200px;
}

.mdl-textfield-wrap {
	padding: 10px;
}

.mdl-button--pull-right {
	float: right;
}

.ace_editor {
	height: 100%;
	margin-top: 0;
}

.sourceCopied {
	position: fixed;
	z-index: 1000;
	top: 50%;
	left: 0;
	width: 100%;
	padding: 10px;
	-webkit-transition: background-color .2s ease-in;
	transition: background-color .2s ease-in;
	text-align: center;
	color: #fff;
	background-color: transparent;
}

.sourceCopied.active {
	background-color: rgba(0, 0, 0, .9);
}

.cssLabEditArea {
	font-size: 20px;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.cssLabEditAreaWrap {
	height: 450px;
}

.cssLabRendered {
	position: relative;
	overflow: hidden;
	border: 1px solid #ccc;
}

.cssLabAbout {
	margin-top: 10px;
	padding: 15px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, .06);
}

.cssLabLabel {
	display: inline-block;
	margin-right: 5px;
	padding: 2px 5px;
	color: #fff;
	border-radius: 3px;
	background: #ff4081;
}

.cssLabExpArea {
	position: relative;
	padding: 10px;
	border-radius: 5px;
	background-color: #fff;
}

