html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

.mdl-layout {
	height: 100vh;
}

.mdl-layout__drawer {
	width: 350px;
}

.mdl-layout--fixed-drawer > .mdl-layout__content {
	margin-left: 350px;
	padding: 10px;
}

.mdl-layout__tab-bar {
	width: 100%;
	height: auto;
}

.mdl-layout__tab {
	cursor: pointer;
}

.mdl-data-table {
	width: 100%;
}

.mdl-data-table__name {
	width: 200px;
}

.ace_editor {
	height: 100%;
	margin-top: 0;
}

.sourceCopied {
	position: fixed;
	z-index: 1000;
	top: 50%;
	left: 0;
	width: 100%;
	padding: 10px;
	-webkit-transition: background-color .2s ease-in;
	transition: background-color .2s ease-in;
	text-align: center;
	color: #fff;
	background-color: transparent;
}

.sourceCopied.active {
	background-color: rgba(0, 0, 0, .9);
}

.cssLabHeader {
	padding: 10px;
	background-color: #ccc;
}

.cssLabHeader::after {
	display: table;
	clear: both;
	content: '';
}

.cssLabWrap {
	max-width: 1200px;
	margin: 0 auto;
}

.cssLabLogo {
	font-size: 24px;
	margin: 0;
	color: #333;
}

.cssLabBtnGroup {
	float: right;
}

.cssLabHeaderSearchArea {
	position: relative;
	float: right;
}

.cssLabHeaderSearchArea input {
	width: 100%;
}

.cssSettingArea {
	padding-top: 10px;
}

.cssLabHeaderSearchList {
	position: absolute;
	top: 30px;
	left: 0;
	display: none;
	overflow-y: scroll;
	width: 100%;
	max-height: 400px;
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
}

.cssLabHeaderSearchList li {
	display: block;
	width: 100%;
	margin: 0;
	padding: 5px;
	list-style-type: none;
	border-bottom: 1px solid #ccc;
}

.cssLabHeaderSearchList li::after {
	display: table;
	clear: both;
	content: '';
}

.cssLabHeaderSearchList.active {
	display: block;
}

.cssLabGrid6 {
	display: block;
	float: left;
	width: 48.82117%;
	margin-right: 2.35765%;
}

.cssLabGrid6:last-child {
	margin-right: 0;
}

.cssLabGrid3 {
	display: block;
	float: left;
	width: 23.23176%;
	margin-right: 2.35765%;
}

.cssLabGrid3:last-child {
	margin-right: 0;
}

.cssLabEditInputWrap {
	padding: 10px;
}

.cssLabEditAreaWrap {
	height: 450px;
}

.cssLabEditArea {
	font-size: 20px;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.cssLabRendered {
	position: relative;
	overflow: hidden;
	border: 1px solid #ccc;
}

.cssLabText {
	border-bottom: 1px solid #ccc;
}

.cssLabTab {
	margin: 0 10px;
	padding: 0;
	border-bottom: 1px solid #ccc;
}

.cssLabTab::after {
	display: table;
	clear: both;
	content: '';
}

.cssLabTab li {
	display: block;
	float: left;
	margin-right: 15px;
	padding: 10px;
	list-style-type: none;
	cursor: pointer;
	border: 1px solid #ccc;
	border-bottom: none;
}

.cssLabTab .active {
	background-color: #ccc;
}

.cssLabSide {
	position: fixed;
	z-index: 5000;
	top: 0;
	left: 0;
	width: 262px;
	height: 100%;
	color: #333;
	border-right: 1px solid #e3e3e3;
	background-color: #eee;
}

.cssLabMain {
	width: 100%;
	padding-left: 262px;
}

