// Floatin Action Button
.AtomicLabFAB {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 900;
  width: 56px;
  height: 270px;
  &-main {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
  }
  &-subActionsList {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 7px;
      li {
        display: block;
        margin: 10px 0;
        transition: 0.3s;
        transform: scale(0) translateY(200px);
        opacity: 0;
      }
  }
  &-miniFAB{
    background-color: #D8D8D8 !important;
    transition: 0.2s;
    img{
      margin-top: 2px;
      width: 40px;
    }
    &:hover{
      transform: scale(1.15);
      transition: 0.1s;
    }
  }
}

.AtomicLabFAB-main.is-open {
	transform: rotate(45deg);
}

.AtomicLabFAB-subActionsList.is-open li {
	transform: scale(1) translateY(0px);
	opacity: 1;
}