<!--@doc
# @category template
# @name blog
# @desc stylish blog theme
-->

<!--@template -->
<!-- #include file="../header/header.html" -->
<!-- #include file="../hero/hero.html" -->
<main class="uc-content content">
  <div class="uc-section">
    <div class="uc-grid _col-2 _small-col-full _gutter">
      <div class="uc-grid-cell">
        <!-- #include file="../card/card.html" -->
      </div> 
    </div>
  </div>
</main>
<!-- #include file="../footer/footer.html" -->
<!--@/template -->

<!--@preview
<blog />
-->

<!--@note
You can write markdown here

# h1

## h2

### h3 

#### h4

- list1
- list2
- list3

```js
console.log('you can write markdown here');
```

-->