.main-visual img{
	width:100%;
	height:auto;
	display:block;
}
.main-visual__inner{
	position:absolute;
	font-size:20px;
	top:0;
	left:0;
	padding:10px;
	color:#FFFFFF;
	background:rgba(0,0,0,.7);
	width:100%;
	height:100%;
}
.main-visual__body{
	display:table;
	width:100%;
	height:100%;
}
.main-visual__title{
	display:table-cell;
	text-align:center;
	width:100%;
	height:100%;
	vertical-align:middle;
}
.main-visual{
  position:relative;
}