<!--@doc
# @category molecule
# @name main-visual
# @css ./main-visual.sass
# @desc it is often used as a hero image
-->

<!-- BEGIN_SetTemplate id="test" -->
<div class="main-visual">
	<img src="{image}">
	<div class="main-visual__inner">
		<div class="main-visual__body">
		<% if ("{text}"){ %>
		    <h2 class="main-visual__title">{text}</h2>
		<% } %>
		</div>
	</div>
</div>
<!-- END_SetTemplate -->

<!--@preview
<main-visual/>
-->

<!--@note
## Example
```html
<main-visual image="http://www.civillink.net/fsozaip/phote/fukei3l.jpg" text="steelaxe"></main-visual>
```
-->
