<!--@doc
# @category atom
# @name uc-grid
# @desc grid system and clearfix
-->

<!--@preview
<div class="uc-grid _of-gutters _of-col-3">
    <div class="uc-grid-cell">
        <div style="background-color:#e8e8e8;height:20px;">
        </div>
    </div>
    <div class="uc-grid-cell">
        <div style="background-color:#e8e8e8;height:20px;">
        </div>
    </div>
    <div class="uc-grid-cell">
        <div style="background-color:#e8e8e8;height:20px;">
        </div>
    </div>
</div>
-->