<!--@doc
# @category molecule
# @name uc-card
# @desc grid system and clearfix
-->

<!--@template title="Simple card" text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime commodi ipsum ab quam culpa. Repudiandae eius maiores necessitatibus!"-->
<div class="uc-card">
  <div class="uc-card-title">{title}</div>
  <p>{text}</p>
  <uc-btn text="Button" modifier="_primary" />
</div>
<!--@/template -->

<!--@preview
<uc-card />
-->