<!--@doc
# @category molecule
# @name uc-card
# @desc grid system and clearfix
-->

<!--@preview
<div class="uc-card">
  <div class="uc-card-title">Simple card</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime commodi ipsum ab quam culpa. Repudiandae eius maiores necessitatibus!</p>
  <uc-btn text="Button" modifier="_of-primary" />
</div>
-->