<!--@doc
# @category atom
# @name uc-btn
# @desc just a simple button with various colors
-->

<!--@template text="Button" -->
<div class='uc-btn <%= modifier %>'><a href="#"><%= text %></a></div>
<!--@/template -->


<!--@preview
<uc-btn text="Primary" modifier="_primary" />
-->
