<!--@doc
# @category atom
# @name uc-btn
# @desc grid system and clearfix
-->

<!--@template -->
<div class='uc-btn {modifier}'><a href="#">{text}</a></div>
<!--@/template -->


<!--@preview
<uc-btn text="Button" />
-->
