
// Side Menu
.atomicLabSideMenu {
    box-sizing: border-box;
    width: 25%;
    float: left;
    height: 100%;
    border-right: 1px solid #{$line-color-default};
    background: #fff;
}

// Project Control
.atomicLabProjectControl {
    border-bottom: 1px solid #{$line-color-default};
    padding: 20px 20px 0 20px;
    &-title {
        font-size: 20px;
        vertical-align: middle;
        color: #{$color-accent};
        position: relative;
        cursor: pointer;
        margin: 0 0 15px 0;
        i {
            vertical-align: bottom;
        }
        .atomicLabProjectControl-arrow {
            position: absolute;
            right: 5px;
        }
    }
    &-shotDescription {
        line-height: 1.5em;
        color: #{$text-color-light};
    }
    &-actions {
        color: #{$text-color-light};
        margin: 20px 0 10px 0;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-around;
        }
        li {
            margin: 0;
            display: flex;
            cursor: pointer;
            i{
                padding: 10px;

                &:hover{
                    color: #{$text-color-dark};
                }
            }

        }
    }
}


// Component list
.atomicLabComponentList{

    height: -webkit-calc(100vh - 300px);
    height: calc(100vh - 300px);
    overflow: auto;

    ul,li{
        display: block;
        margin: 0;
        padding: 0;
    }
    &-category{
        margin: 0;
        //border-bottom: 1px solid #{$line-color-light};
        font-size: 17px;

        > span{
            display: block;
            padding: 15px 25px;
        }
        &-icon{
            width: 32px;
            margin-right: 10px;
        }
    }
    &-item{

        color: #{$text-color-light};
        cursor: pointer;
        transition: 0.1s;

        &:hover{
            background-color: #E2E2E2;
            color: #{$text-color-dark};
            transition: 0.1s;
        }

        > span{
            display: block;
            padding: 15px 20px 15px 50px;

            i {
                font-size: 20px;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }

    &-item-subAction{
        display: none;
        float: right;
        line-height: 24px;
    }

}

// hover
.atomicLabComponentList-item:hover{

    .atomicLabComponentList-item-subAction{
        display: inline-block;
    }

}



// Search box
.atomicLabSearchBox{

    $this: &;

    box-sizing: border-box;
    height: 40px;
    width: 310px;
    padding: 10px 20px;
    border-top: 1px solid #{$line-color-default};

    &-expandContent{
        display: none;
    }
    &-main{
        border-radius: 5px;
        height: 40px;
        line-height: 40px;
        background-color: #F2F2F2;
        box-sizing: border-box;
        padding: 0 15px;

        i{
            vertical-align: middle;
            color: #{$text-color-light};
        }
    }
    &-input{
        border: none;
        outline: none;
        font-size: 16px;
        background: transparent;
    }

    // modifier
    &.is-open{

        #{$this}-expandContent{
            display: block;
            padding: 20px;
            height: 0;
            opacity: 0;
            border-bottom: 1px solid #{$line-color-default};
        }
        #{$this}-floatingCard{
            background-color: #fff;
            border-radius: 3px;
            width: 270px;
            position: absolute;
            bottom: 9px;
            left: 20px;
            box-shadow:0px 0px 4px 1px #a0a0a0;
            -moz-box-shadow:0px 0px 4px 1px #a0a0a0;
            -webkit-box-shadow:0px 0px 4px 1px #a0a0a0;
        }
        #{$this}-main{
            background-color: #fff;
            border-radius: 0;
        }
    }

}
