
// Side Menu
.atomicLabSideMenu {
    box-sizing: border-box;
    width: 310px;
    flex-grow: 0;
    height: 100%;
    border-right: 1px solid #{$line-color-default};
    background: #fff;
}

// Project Control
.atomicLabProjectControl {
    position: relative;
    border-bottom: 1px solid #{$line-color-default};
    padding: 20px 20px 0 20px;
    &-title {
        font-size: 20px;
        vertical-align: middle;
        color: #{$color-accent};
        position: relative;
        cursor: pointer;
        margin: 0 0 15px 0;
        i {
            vertical-align: bottom;
        }
        .atomicLabProjectControl-arrow {
            position: absolute;
            right: 5px;
        }
    }
    &-shotDescription {
        line-height: 1.5em;
        color: #{$text-color-light};
        width: 95%;
        height: 40px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;

        &.is-editing{
            height: auto;
            overflow: auto;
        }

    }
    &-actions {
        color: #{$text-color-light};
        margin: 20px 0 10px 0;
        > ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-around;
        }
        > ul > li {
            margin: 0;
            display: flex;
            cursor: pointer;
            i{
                padding: 10px;

                &:hover{
                    color: #{$text-color-dark};
                }
            }

        }
    }
    &-input{
      display: inline-block;
      width: 150px;
    }
    &-textarea{
      display: inline-block;
      width: 230px;
    }
}

// project Dropdown
.atomicLabProjectDropdown{

    position: absolute;
    z-index: 3;
    width: 280px;
    box-sizing: border-box;
    padding: 20px;
    top: 60px;
    left: 15px;
    border: 1px solid #DBDBDB;
    background-color: #fff;
    box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.20);
    border-radius: 2px;
    transform: scale(0);
    transition: 0.1s;
    opacity: 0;
    transform-origin: top center;

    &.js-open{
      transform: scale(1);
      opacity: 1;
    }

    &-list{
      display: block;
      margin: 0;
      padding: 0;
      overflow: auto;
      max-height: 170px;

      li{
        font-size: 18px;
        margin: 15px 0;

        &:first-of-type{
          margin-top: 0;
        }
      }

      a{
        display: inline-block;
        color: #{$text-color-light};
        text-decoration: none;
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover{
          color: #{$text-color-dark};
        }
        i{
          vertical-align: bottom;
        }

      }
    }

    &-newProject{
      display: block;
      margin-top: 10px;

      a{
        display: inline-block;
        color: #{$color-accent};
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
      }

    }

}

// Component list
.atomicLabComponentList{

    height: -webkit-calc(100vh - 300px);
    height: calc(100vh - 300px);
    overflow: auto;

    ul,li{
        display: block;
        margin: 0;
        padding: 0;
    }
    &-category{
        margin: 0;
        //border-bottom: 1px solid #{$line-color-light};
        font-size: 17px;

        > span{
            display: block;
            padding: 15px 25px;
            position: relative;
            cursor: pointer;

            i {
                opacity: 0;
                display: block;
                position: absolute;
                right: 20px;
                top: 20px;
                color: #{$text-color-light};
            }

            &:hover{
                i { opacity: 1; }
            }

        }
        &-icon{
            width: 32px;
            margin-right: 10px;
        }


        > ul{
            transition: 0.2s;
            overflow: hidden;
        }

        // Closed pattern
        &.js-closed{
            opacity: 0.6;

            > ul{
                transition: 0.2s;
            }
        }

    }
    &-item{

        color: #{$text-color-light};
        cursor: pointer;
        transition: 0.1s;

        &:hover,&.selected{
            background-color: #E2E2E2;
            color: #{$text-color-dark};
            transition: 0.1s;
        }

        > span{
            display: block;
            padding: 15px 20px 15px 50px;

            i {
                font-size: 20px;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }

    &-item-subAction{
        display: none;
        float: right;
        line-height: 24px;
    }

}

// hover
.atomicLabComponentList-item:hover{

    .atomicLabComponentList-item-subAction{
        display: inline-block;
    }

}



// Search box
.atomicLabSearchBox{

    $this: &;

    box-sizing: border-box;
    height: 40px;
    width: 310px;
    padding: 10px 20px;
    border-top: 1px solid #{$line-color-default};

    &-expandContent{
        display: none;
    }
    &-title{
        font-size: 17px;
        display: inline-block;
        margin-bottom: 10px;
    }

    &-main{
        border-radius: 5px;
        height: 40px;
        line-height: 40px;
        background-color: #F2F2F2;
        box-sizing: border-box;
        padding: 0 15px;

        i{
            vertical-align: middle;
            color: #{$text-color-light};
        }
    }
    &-input{
        border: none;
        outline: none;
        font-size: 16px;
        background: transparent;
    }
    &-checkbox{
        margin-bottom: 10px;
        cursor: pointer;
        color: #{$text-color-light};
    }

    // modifier
    &.is-open{

        #{$this}-expandContent{
            display: block;
            padding: 20px;
            height: 0;
            opacity: 0;
            border-bottom: 1px solid #{$line-color-default};
        }
        #{$this}-floatingCard{
            background-color: #fff;
            border-radius: 3px;
            width: 270px;
            position: absolute;
            z-index: 9000;
            bottom: 9px;
            left: 20px;
            box-shadow:0px 0px 4px 1px #a0a0a0;
            -moz-box-shadow:0px 0px 4px 1px #a0a0a0;
            -webkit-box-shadow:0px 0px 4px 1px #a0a0a0;
        }
        #{$this}-main{
            background-color: #fff;
            border-radius: 0;
        }
    }

}
