@charset "utf-8";


$text-color-default: #454545;
$text-color-light: #848484;
$text-color-dark: #454545;
$text-color-accent: rgb(0,150,136);

$line-color-default: #D7D7D7;
$line-color-light: #efefef;

$color-primary: rgb(120,144,156);
$color-accent: rgb(0,150,136);

html,
body {
    min-width: 1040px;
    height: 100%;
    color: #{$text-color-default};
    position: relative;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.atomicLabHeader {
    box-shadow: none;
    &-row {
        padding-left: 40px;
    }
    &-gitHubMark {
        width: 34px;
    }
}
.atomicLabContent{
    height: 100%;
    display: flex;
}

// Common dialog width
.mdl-dialog{
    width: 600px;
}


// Parts

@import "submenu";

@import "FAB";

@import "mainpanel";

@import "projects";


.ace_editor {
    height: 100%;
    margin-top: 0;
}

#mask-search-cancel{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 8000;
    display: none;
}

.sourceCopied {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 10px;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
    text-align: center;
    color: #fff;
    background-color: transparent;
}

.sourceCopied.active {
    background-color: rgba(0, 0, 0, .9);
}


// Delete action hover behavior
.material-icons._danger:hover{
    color: #ed3838;
}

// Header style for small screen
@media screen and (max-width: 1024px) {
    .mdl-layout__header {
        display: block;
    }
}
