@charset "utf-8";


$text-color-default: #454545;
$text-color-light: #848484;
$text-color-dark: #454545;

$line-color-default: #D7D7D7;
$line-color-light: #efefef;

$color-primary: rgb(120,144,156);
$color-accent: rgb(0,150,136);

html,
body {
    min-width: 1040px;
    height: 100%;
    color: #{$text-color-default};
    position: relative;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.atomicLabHeader {
    box-shadow: none;
    &-row {
        padding-left: 40px;
    }
    &-gitHubMark {
        width: 34px;
    }
}
.mdl-layout__content{
    height: 100%;
}

@import "submenu";

@import "FAB";

@import "mainpanel";


#mask-search-cancel{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 8000;
    display: none;
}


.atomicLabProjectsDialog{
    $this: &;

    width: 750px;

    &-table{
        width: 100%;
        border-collapse: collapse;

        th{
            text-align: left;
            border-bottom: 1px solid #979797;
            padding: 5px 0;
        }
        td{
            padding: 10px 0;
            vertical-align: middle;
        }

    }
    &-icon{
        width: 5%;
        text-align: center;
        color: #{$text-color-light};
    }
    &-name{
        width: 35%;
    }
    &-url{
        width: 30%;
    }
    &-share{
        width: 25%;
    }
    &-delete{
        display: none;
    }
    &-shareIcon{
        width: 22px;
        display: inline-block;
        margin-right: 5px;
        cursor: pointer;
        img{
            width: 100%;
        }
    }

    &-projectsContainer{

        height: 180px;
        border-bottom: 1px solid #979797;
        overflow: auto;

        tr:hover{

            background-color: #e2e2e2;

            #{$this}-delete{
                display: inline-block;
            }
        }

    }


}

// Header style for small screen
@media screen and (max-width: 1024px) {
    .mdl-layout__header {
        display: block;
    }
}
