<!--@include

-->


<!--@template

-->

<!--@preview
<div class="mod-clearfix">
    <div class="mod-col-6">
        <h2 class="mod-title">Grid1</h2>
    </div>
    <div class="mod-col-6">
        <h2 class="mod-title">Grid2</h2>
    </div>
</div>
-->

<!--@note
## grid system
-->
