<!--@doc
# @category atom
# @name uc-hero
# @desc grid system and clearfix
-->

<!--@template title="Title" lead="" -->
<div class="uc-hero">
    <div class="uc-hero-bg" style="background-image:url(https://source.unsplash.com/random)"></div>
    <div class="uc-hero-title">{title}</div>
    <p>{lead}</p>
</div>
<!--@/template -->


<!--@preview
<uc-hero title="Hero Area" />
-->

