<!-- template button="sample" -->
<header class="header">
    <div class="header__inner"><span class="header__logo">{title}</span></div>
</header>
<!-- /template -->


<!-- preview -->
<!-- header title="steelaxe" -->
<!-- /preview -->