.container{
	padding:20px;
}

.modulettes {
	margin-bottom: 40px;
	margin-top: 0;
	width: 100%;
}

.modulettes a{
	text-decoration:none;
}

.modulettes .modulette {
	display: block;
	margin-bottom: 24px
}

.modulettes .modulette .icon {
	float: left;
	height: 24px;
	margin: 0;
	width: auto
}

.modulettes .modulette .download-icon {
	opacity: 0.54
}

.modulettes .modulette .callout-icon {
	opacity: 0.54
}

.modulettes .modulette .info {
	font-size: 13px;
	line-height: 24px;
	margin-left: 40px;
	padding-top: 1px
}

@media screen and (max-width: 1240px) {
	.modulettes .modulette .info {
		font-size:14px
	}
}

.modulettes .modulette .info .subtitle {
	color: #757575
}

.modulettes .modulette .info .title {
	font-weight: 700
}

.modulettes .modulette.default,.modulettes .modulette.android,.modulettes .modulette.polymer {
	background-color: #eee;
	border: 1px solid #eee;
	position: relative
}

.modulettes .modulette.default .icon,.modulettes .modulette.android .icon,.modulettes .modulette.polymer .icon {
	position: absolute;
	top: 50%;
	margin-top: -12px;
	left: 16px
}

.modulettes .modulette.default .info,.modulettes .modulette.android .info,.modulettes .modulette.polymer .info {
	margin-left: 56px;
	background-color: #fff;
	padding: 24px
}

.modulettes .modulette.default .callout-icon {
	opacity: 0.26
}

.modulettes .modulette.android .callout-icon,.modulettes .modulette.polymer .callout-icon {
	opacity: 1
}

@media screen and (max-width: 360px) {
	.modulettes {
		width:100%
	}
}
