<!--@template-->
<div class="modulettes">
    <a class="modulette default" href="{url}">
      <img class="icon callout-icon" src="/static/images/callout_default.svg" alt="">
      <div class="info">
        <div class="title">{title}</div>
        <span class="subtitle">{subtitle}</span>
      </div>
    </a>
</div>
<!--@/template-->

<!--@preview
<div class="container">
<modulettes title="Material icons" subtitle="Material icons are easy to use in your web, Android, and iOS projects. "></modulettes>
</div>
-->
