<!--@doc
# @category organism
# @name mod-header
# @css ./mod-header.sass
-->

<!--@template button="sample"-->
<header class="header">
    <div class="header__inner"><span class="header__logo">{title}</span></div>
</header>
<!--@/template-->


<!--@preview
<mod-header title="steelaxe"></mod-header>
-->
