<!--@doc
# @category organism
# @name uc-footer
# @desc grid system and clearfix
-->

<!--@template -->
<footer class="uc-footer _dark">
<ul class="uc-footer-link">
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
</ul>
<div class="uc-footer-logo"><cite>Blog</cite></div>
<p>This page was made using <a href="http://unitscss.com" target="_blank">UNITS</a>.</p>
<small>&copy; 2017 Blog Demo</small>
</footer>
<!--@/template -->

<!--@preview
<uc-footer />
-->