<!--@doc
# @category organism
# @name uc-footer
# @desc a common site footer
-->

<!--@template title="Blog" -->
<footer class="uc-footer _dark">
<div class="uc-footer-menu">
    <a href="#">About</a>
    <a href="#">Contact</a>
</div>
<div class="uc-footer-logo"><cite><%= title %></cite></div>
<p>This page was made using <a href="http://unitscss.com" target="_blank">UNITS</a>.</p>
<small>&copy; 2017 <%= title %></small>
</footer>
<!--@/template -->

<!--@preview
<uc-footer title="Horic Design" />
-->