<!--@import items="mod-header,main-visual,modulettes,mod-footer,common" -->

<!--@template-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
<mod-header title="steelaxe" button="contact"></mod-header>
<mainVisual image="http://www.civillink.net/fsozaip/phote/fukei3l.jpg" text="steelaxe"></mainVisual>
<h2 class="mod-title">Our Products</h2>
<div class="mod-clearfix">
<div class="mod-col-6">
    <modulettes title="Can I Use bot" subtitle="You can check browser support on your slack without visiting caniuse website. " url="http://www.caniuse-bot.com/"></modulettes>
</div>
<div class="mod-col-6">
    <modulettes title="gulp generator" subtitle="Recommendable for those who often forget how to write gulpfile or for those who like GUI like me!! " url="http://steelydylan.github.io/gulp-generator/"></modulettes>
</div>
<div class="mod-col-6">
    <modulettes title="Atomic Lab." subtitle="Atomic Lab is where you can make components based on Atomic design. " url="http://steelydylan.github.io/atomic-lab/"></modulettes>
</div>
<div class="mod-col-6">
    <modulettes title="Atlas.js" subtitle="Simple JavaScript game engine" url="http://steelydylan.github.io/Atlas.js/"></modulettes>
</div>
</div>
<mod-footer text="&copy; steelaxe"></mod-footer>
<!--@/template-->

<!--@preview
<theme1></theme1>
-->
