<!--@doc
# @category template
# @name theme1
# @css theme1.sass
# @desc just a simple theme
-->

<!--@template-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
<mod-header title="steelaxe" button="contact" />
<main-visual image="http://www.civillink.net/fsozaip/phote/fukei3l.jpg" text="steelaxe" />
<h2 class="mod-title">Our Products</h2>
<div class="mod-grid">
<div class="mod-col-6">
    <modulettes title="Can I Use bot" subtitle="You can check browser support on your slack without visiting caniuse website. " url="http://www.caniuse-bot.com/" />
</div>
<div class="mod-col-6">
    <modulettes title="gulp generator" subtitle="Recommendable for those who often forget how to write gulpfile or for those who like GUI like me!! " url="http://steelydylan.github.io/gulp-generator/" />
</div>
<div class="mod-col-6">
    <modulettes title="Atomic Lab." subtitle="Atomic Lab is where you can make components based on Atomic design. " url="http://steelydylan.github.io/atomic-lab/" />
</div>
<div class="mod-col-6">
    <modulettes title="Atlas.js" subtitle="Simple JavaScript game engine" url="http://steelydylan.github.io/Atlas.js/" />
</div>
</div>
<mod-footer text="&copy; steelaxe" />
<!--@/template-->

<!--@preview
<theme1></theme1>
-->
