<!--@template-->
<div class="main-visual">
	<img src="{image}">
	<div class="main-visual__inner">
		<div class="main-visual__body">
		<% if ("{text}"){ %>
		    <h2 class="main-visual__title">{text}</h2>
		<% } %>
		</div>
	</div>
</div>
<!--@/template-->

<!--@preview
<mainVisual image="http://www.civillink.net/fsozaip/phote/fukei3l.jpg" text="steelaxe"></mainVisual>
-->
