<!-- template modifier="" text="button" -->
<button class="btn-warning {modifier}">{text}</button>
<!-- /template -->

<!-- preview -->
<div class="container">
<!-- button modifier="" text="default" -->
<!-- button modifier="button--basic" text="primary" -->
</div>
<!-- /preview -->
