<!--@doc
# @category organism
# @name mod-footer
# @css ./mod-footer.sass
# @desc just a simple footer
-->

<!--@template-->
<footer class="footer">
   <p class="footer__inner">{text}</p>
</footer>
<!--@/template-->

<!--@preview
    <mod-footer text="steelaxe" />
-->
