<!--@doc
# @category molecule
# @name common
# @css ./common.sass
# @desc grid system and clearfix
-->

<!--@preview
<div class="mod-clearfix">
	<div class="mod-col-1 exp-area">
		1
	</div>
	<div class="mod-col-11 exp-area">
		11
	</div>
	<div class="mod-col-2 exp-area">
		2
	</div>
	<div class="mod-col-10 exp-area">
		10
	</div>
	<div class="mod-col-3 exp-area">
		3
	</div>
	<div class="mod-col-9 exp-area">
		9
	</div>
	<div class="mod-col-4 exp-area">
		4
	</div>
	<div class="mod-col-8 exp-area">
		8
	</div>
	<div class="mod-col-5 exp-area">
		5
	</div>
	<div class="mod-col-7 exp-area">
		7
	</div>
	<div class="mod-col-6 exp-area">
		6
	</div>
	<div class="mod-col-6 exp-area">
		6
	</div>
	<div class="mod-col-7 exp-area">
		7
	</div>
	<div class="mod-col-5 exp-area">
		5
	</div>
	<div class="mod-col-8 exp-area">
		8
	</div>
	<div class="mod-col-4 exp-area">
		4
	</div>
	<div class="mod-col-9 exp-area">
		9
	</div>
	<div class="mod-col-3 exp-area">
		3
	</div>
	<div class="mod-col-10 exp-area">
		10
	</div>
	<div class="mod-col-2 exp-area">
		2
	</div>
	<div class="mod-col-11 exp-area">
		11
	</div>
	<div class="mod-col-1 exp-area">
		1
	</div>
</div>
-->


