<!--@import parts="mixin" -->

<!--@doc
# @category molecule
# @name common
# @css ./common.sass
# @desc grid system and clearfix
-->

<!--@preview
<div class="mod-clearfix">
	<div class="mod-col-1 exp-area">
		Grid-1
	</div>
	<div class="mod-col-11 exp-area">
		Grid-11
	</div>
	<div class="mod-col-2 exp-area">
		Grid-2
	</div>
	<div class="mod-col-10 exp-area">
		Grid-10
	</div>
	<div class="mod-col-3 exp-area">
		Grid-3
	</div>
	<div class="mod-col-9 exp-area">
		Grid-9
	</div>
	<div class="mod-col-4 exp-area">
		Grid-4
	</div>
	<div class="mod-col-8 exp-area">
		Grid-8
	</div>
	<div class="mod-col-5 exp-area">
		Grid-5
	</div>
	<div class="mod-col-7 exp-area">
		Grid-7
	</div>
	<div class="mod-col-6 exp-area">
		Grid-6
	</div>
	<div class="mod-col-6 exp-area">
		Grid-6
	</div>
	<div class="mod-col-7 exp-area">
		Grid-7
	</div>
	<div class="mod-col-5 exp-area">
		Grid-5
	</div>
	<div class="mod-col-8 exp-area">
		Grid-8
	</div>
	<div class="mod-col-4 exp-area">
		Grid-4
	</div>
	<div class="mod-col-9 exp-area">
		Grid-9
	</div>
	<div class="mod-col-3 exp-area">
		Grid-3
	</div>
	<div class="mod-col-10 exp-area">
		Grid-10
	</div>
	<div class="mod-col-2 exp-area">
		Grid-2
	</div>
	<div class="mod-col-11 exp-area">
		Grid-11
	</div>
	<div class="mod-col-1 exp-area">
		Grid-1
	</div>
</div>
-->


